.social-login
  button.social-login--github
    a(href=routes.github)
      span
        i.fab.fa-github
        | continue with github
  button.social-login--facebook
    span
      i.fab.fa-facebook
    | continue with facebook